body {
    background-color: #D4D4D4; 
    background-size: contain;
    color: #BF01C8;
}

#entrada {
    border: 20px;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
    padding: 20px;
    margin: 20px;
    border-style: ridge;
}
.loquequiera {
    border: 20px;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
    padding: 20px;
    margin: 20px;
    border-style: ridge;
}
.elemento {
    font-weight: bolder;
}
li.txtnormal, button.txtnormal {
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.txtnormal {
    font-size: large;
}
ul {
    border-radius: 10px;
}
ul#listado > li {
    color: coral;
}
img {
    width: 100%;
}

div.flex {
    display: inline-flex;
    width: 60%;
}
div.flex > img, div.flex > p, div.flex > div {
    width: 50%;
}
@media only screen and (max-width: 600px) {
    div.flex {
        display: unset;
    }
}
#newformat {
    margin-left: 20%;
    margin-right: 20%;
    border: 23px;
    border-style: outset;
    border-radius: 17px;
    border-width: 20;
    border-top-color: maroon;
    border-left-color: midnightblue;
    border-right-color: midnightblue;
    border-bottom-color: maroon;
}